name: Test
on:
  push:
    branches:
      - main
    paths:
      - 'action.yml'
jobs:
  test-github-action:
    runs-on: ubuntu-24.04
    name: Test GitHub Action
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          input: test
